<div class="container">
    <% if @single_room %>
        <div class="d-flex justify-content-between">
            <%= link_to 'back', root_url %>

            <% flash.each do |type, msg| %>
                <div>
                    <%= msg %>
                </div>
            <% end %>
            
            <% if @single_room.user_id == @current_user.id %>
                <% if @single_room.is_active == false %>
                    <%= form_with url: room_path(@single_room), method: "patch" do |f| %>
                        <%= f.hidden_field :room_id, :value => @single_room.id %>
                        <%= f.hidden_field :state, :value => true %>
                        <%= f.submit 'Start Game' %>
                    <% end %>
                <% else %>
                    <%= form_with url: room_path(@single_room), method: "patch" do |f| %>
                        <%= f.hidden_field :room_id, :value => @single_room.id %>
                        <%= f.hidden_field :state, :value => false %>
                        <%= f.submit 'End Game' %>
                    <% end %>
                <% end %>
            <% end %>

        </div>

        <h1><%= @single_room.name %></h1>
            <div class="d-flex justify-content-between">
                <h3>Created by: <%= @single_room.user.username %></h3>

                <!-- just temporary placement, will probably move to the bottom of the page once UI is in -->
                <% if @is_groupcreator && @single_room.is_active? && @only_one_groupparticipant %>
                    <%= form_with url: gameturn_path, method: "patch" do |f| %>
                        <%= f.hidden_field :room_id, :value => @single_room.id %>
                        <%= f.submit 'Next Player' %>
                    <% end %>
                <% end %>

            </div>

        <hr>
        <% if @is_groupcreator && @single_room.is_active == false %>
            <%= form_with url: room_path(@single_room), method: "delete" do |f| %>
                <%= f.hidden_field :id, :value => @single_room.id %>
                <%= f.submit 'delete group' %>
            <% end %>
        <% else %>
            <% unless @single_room.is_active %>
                <% if @is_groupparticipant %>
                    <%= render partial: 'layouts/leave_room_form' %>
                <% else %>
                    <%= render partial: 'layouts/join_room_form' %>
                <% end %>
            <% else %>
                <h4>Current Player: <%= @current_player %></h4>
                <h4>Room in Progress</h4>
            <% end %>
        <% end %>
        
        <h3><u>Group Participants</u></h3>
        <% if @groupparticipants.exists? %>
            <ul>
                <% @groupparticipants.each do |groupparticipants| %>
                    <% if groupparticipants == current_user %>
                        <li><%= groupparticipants.username %>(You)</li>
                    <% else %>
                        <li><%= groupparticipants.username %></li>
                    <% end %>
                <% end %>
            </ul>
        <% else %>
            <h4>No Participants</h4>
        <% end%>
        
    

    <% end %>
    <hr>

    <%= turbo_stream_from @single_room %>
    <div id="messages">
        <%= render @messages %>
    </div>
    <div class="d-flex justify-content-center">
        <%= render partial: 'layouts/new_message_form' %>
    </div>

    <div id="category-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <%= render 'category_modal' %>
            </div>
        </div>
    </div>

</div>
