<div class="container vh-100 bg-dark">
    <% if @single_room %>
        <h1><%= @single_room.name %></h1>
        <h2>Created by: <%= @single_room.user.username %> </h2>

        <% if @is_groupcreator %>
            <!-- TODO: Delete Group Button -->
        <% else %>
            <% if @is_groupparticipant %>
                <%= render partial: 'layouts/leave_room_form' %>
            <% else %>
                <%= render partial: 'layouts/join_room_form' %>
            <% end %>
        <% end %>
        <hr>
        <h2><u>Group Participants</u></h2>
        <% if @groupparticipants.exists? %>
            <% @groupparticipants.each do |groupparticipants| %>
                <%= groupparticipants.username %>
            <% end %>
        <% else %>
            <h3>No Participants</h3>
        <% end%>

    <% end %>
    <hr>
    <%= turbo_stream_from @single_room %>
    <div id="messages">
        <%= render @messages %>
    </div>
    <%= render partial: 'layouts/new_message_form' %>
</div>